.Current {
  background: url('../assets/sunny-day.jpg') no-repeat center center fixed;

  background-size: cover;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
  position: relative;
}

.Current * {
  margin: 0;
}

.Current__Conditions {
  text-align: left;
}

.Current__Conditions_Temp {
  font-size: 2.5em;
}

.Current__Conditions_Hi_Temp > * {
  margin-right: 0.25rem;
}

/* .Current:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px #7753ac;
  filter: blur(10px);
} */
