.SearchForm {
  padding-top: 1rem;
}

.SearchForm > * {
  color: white;
  background-color: rgba(135, 207, 235, 0);
}

.SearchForm__LocationArrow {
  font-size: x-small;
  margin-right: 5px;
}

.SearchForm__Search {
  font-size: small;
}

.SearchForm__Date {
  padding: 0.5rem 0 0.5rem 0;
  margin: 0;
}

.SearchForm input {
  background-color: rgba(135, 207, 235, 0);
  border: 0;
  color: white;
}

.SearchForm input::placeholder {
  color: white;
}

.SearchForm button {
  background-color: rgba(135, 207, 235, 0);
  border: 0;
  color: white;
}

@media only screen and (min-width: 768px) {
  .SearchForm {
    order: 1;
    display: flex;
    justify-content: space-evenly;
    background-color: steelblue;
    padding-bottom: 1rem;
    border-radius: 0px 0px 8px 8px;
  }

  .SearchForm > * {
    font-size: 1.25rem;
  }

  .SearchForm__Date {
    padding: 0;
  }
}
