.App {
  text-align: center;
  background-color: skyblue;
}

.App__visually___hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

main {
  width: 95%;
  margin: auto;
}

main > * {
  border-radius: 2px;
  box-shadow: 5px 5px 25px black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
